<h1>Super Chat para Coders!</h1>
<div>
    <span id="user"></span> <input type="text" id="chatBox">
</div>
<div id="messagesLogs"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>